<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/base.css">
    <title>Bocaware</title>
</head>

<body>
    <div id="contenido">
        <div class="div_usuario">
            <div class="texto_boton_usuario">
                <p id="mensaje_usuario">Hola {{session['name']}}!</p>
                <div class="div_boton_logout">
                    <a href='/'><button class="boton">Logout</button></a>
                    <br></br>
                </div>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}


    </div>


    <footer>
        <p>Autores/as:</p>
        <div id="mailto">
            <p class="mailto"><a href="mailto:ania.escudero@opendeusto.es" class="boton">Ania Escudero</a></p>
            <p class="mailto"><a href="mailto:leyre.guerra@opendeusto.es" class="boton">Leyre Guerra</a></p>
            <p class="mailto"><a href="mailto:unaiarevalo@opendeusto.es" class="boton">Unai Arévalo</a></p>
            <p class="mailto"><a href="mailto:unai.chasco@opendeusto.es" class="boton">Unai Chasco</a></p>
        </div>
    </footer>
</body>

</html>