{% extends "base.html" %}
{% block content %}
<div class="contenido_principal">
    <a href='/index'><button class="boton">Atrás</button></a>
    <h1>Añadir nuevo bocadillo</h1>
    <form action="/bocadillos" METHOD="POST">
        <input type="text" placeholder="Nombre" name="nombre" id="caja_texto">
        <input type="text" placeholder="Precio" name="precio" id="caja_texto">
        <tbody>
            <select name="ingrediente" multiple class="select_multiple">
                {% for ingrediente in ingredientes %}
                <option value="{{ ingrediente.id }}">{{ ingrediente.name }}</option>
                {% endfor %}
            </select>
        </tbody>
        <input type="submit" class="boton" value="Añadir bocadillo">
    </form>
    <br></br>
</div>

<div class="contenido_principal">
    <h1>Bocadillos</h1>
    <form name="formSearch" method="POST" action="{{ url_for('busqueda_bocadillo')}}">
        <input type="text" id="caja_texto" name="buscador" autocomplete="on">
        <button type="submit" class="boton">Buscar</button>
    </form>
</div>

<div class="contenido_principal">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Ingredientes</th>
            </tr>
        </thead>
        <br></br>
        <tbody>
            {% for bocadillo in bocadillos %}
            <tr>
                <td><a href="/bocadillos/delete/{{ bocadillo.id }}" class="boton">Eliminar</a></td>
                <td>{{ bocadillo.name }}</td>
                <td>{{ bocadillo.precio }}</td>
                {% for a in bocadillo.ingrediente.values() %}
                <td>{{ a }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not bocadillos: %}
    No se encuentran resultados similares.
    {% endif %}
</div>

{% endblock %}