<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
</head>
<body>
    <div class="container">
        <form name="formSearch" method="POST" action="{{ url_for('busqueda')}}">
            <input type="text" id="search" name="buscar" autocomplete="on">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <div class = "container">
        <table>
            <thead>
              <tr>
                <th>Resultados</th>
              </tr>
            </thead>
            <tbody>
            {% for ingrediente in ingredientes %}
                <tr>
                    <td>{{ ingrediente.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          

    </div>
    
</body>
</html>
