{% extends "base.html" %}
{% block content %}
<div class="div_boton_index">
    <a href='/bocadillos'><button class="boton">Añadir bocadillo</button></a>
    <a href='/ingredientes'><button class="boton">Añadir ingrediente</button></a>
    <a href='/pedidos'><button class="boton">Crear pedido</button></a>
    <br></br>
</div>
<div>
    <form name="formSearch" method="POST" action="{{ url_for('busqueda')}}">
        <input type="text" id="caja_texto" name="buscador" autocomplete="on">
        <select name="select" class="select">
            <option value="bocadillos">Bocadillos</option>
            <option value="ingredientes">Ingredientes</option>
        </select>
        <button type="submit" class="boton">Buscar</button>
    </form>
</div>
<div>
    <div>
        <ul>
            {% for item in items %}
            <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}