{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/ingredientes" METHOD="POST">
        <input type="text" placeholder="Nombre" name="nombre">
        <input type="text" placeholder="Alergenos" name="alergenos">
        <input type="submit" value="Añadir ingrediente">
    </form>
    <br></br>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Alergenos</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.name }}</td>
                <td>{{ ingrediente.alergico }}</td>
                <td><a href="/ingredientes/delete/{{ ingrediente.id }}"
                        class="btn btn-outline-danger btn-sm">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br></br>
    <a href='/index'><button>Atrás</button></a>

</div>
{% endblock %}