{% extends "base.html" %}
{% block content %}
<div class="contenido_principal">
    <a href='/index'><button class="boton">Atrás</button></a>
    <h1>Añadir nuevo ingrediente</h1>
    <form action="/ingredientes" METHOD="POST">
        <input type="text" placeholder="Nombre" name="nombre" id="caja_texto">
        <input type="text" placeholder="Alergenos" name="alergenos" id="caja_texto">
        <input type="submit" value="Añadir ingrediente" class="boton">
    </form>
    <br></br>
</div>

<div class="contenido_principal">
    <h1>Ingredientes</h1>
    <form name="formSearch" method="POST" action="{{ url_for('busqueda_ingrediente')}}">
        <input type="text" id="caja_texto" name="buscador" autocomplete="on">
        <button type="submit" class="boton">Buscar</button>
    </form>
</div>

<div class="contenido_principal">
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nombre</th>
                <th>Alergenos</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td><a href="/ingredientes/modify/{{ ingrediente.id }}" class="boton">Modificar</a></td>
                <td><a href="/ingredientes/delete/{{ ingrediente.id }}" class="boton">Eliminar</a></td>
                <td>{{ ingrediente.name }}</td>
                <td>{{ ingrediente.alergico }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not ingredientes: %}
    No se encuentran resultados similares.
    {% endif %}
</div>
{% endblock %}