{% extends "base.html" %}
{% block content %}
<div class="contenido_principal">
    <a href='/index'><button class="boton">Atrás</button></a>
    <h1>Crear nuevo pedido</h1>
    <form action="/pedidos" METHOD="POST">
        <tbody>
            <select name="bocadillo" multiple class="select_multiple">
                {% for bocadillo in bocadillos %}
                <option value="{{ bocadillo.id }}">{{ bocadillo.name }}</option>
                {% endfor %}
            </select>
        </tbody>
        <input type="submit" value="Añadir pedido" class="boton">
    </form>
    <br></br>
</div>

<div class="contenido_principal">
    <h1>Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Fecha de creación</th>
                <th>Bocadillos</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td><a href="/pedidos/delete/{{ pedido.id }}" class="boton">Eliminar</a></td>
                <td>{{ pedido.date_created }}</td>
                {% for a in pedido.bocadillos.values() %}
                <td>{{ a }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}